html{
    scroll-behavior: smooth;
}

* {
 padding: 0;    
 margin: 0;
 box-sizing: border-box;
}
.header{
    height: 100vh;
    width: 100%;
    background-image:url(/Images/Ocean1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align:center;

}
.icon{
    float: left;
    margin-top: 20px;
    color: rgb(248, 241, 248); 
    display: flex; 
}
.icon a{
    text-decoration: none;
    color: rgb(196, 223, 218);
}
.icon i{
    margin: 5px;
    /*border: 1px solid rgb(162, 209, 239); */
    border-radius: 5px;
    padding: 5px;
    font-size: 19px;
}
.icon .airline-name{
    font-size: 22px;
    font-weight: 400;
    color:#dde6ee;
    padding-left: 5px;
    margin-left: 5px;
    padding-top: 2px;
    font-family: 'Quantico', sans-serif;
    text-decoration: underline wheat;
    font-weight: 600;
    
}
.container .login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid rgb(249, 247, 248);
    border-radius: 45px;
    background: transparent;
    color: rgb(248, 241, 248);
    float: right;
    margin-top: 20px;
}
.login-btn:hover{
    background: #fcfcfc;
    transition: all 1s linear;
    color: #000;
    font-weight: 600;
}
.header h1{
   padding-top:160px;
   margin-top: 130px;
   font-size: 55px;
   font-family: 'Kavoon', cursive;
   color: #fcfcfc;
   font-weight: 600;
   text-decoration: underline; 
   position: relative;
}
.header p{
    margin: 18px 0;
    color: rgb(255, 250, 250);
    letter-spacing: 0.3rem;
    font-size: 20px;
    font-family: 'Aladin', cursive;
}
.input-group{
    width: 90% !important;
    display: flex;
    max-width: 450px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.438);
    
}
.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
    text-align: center;
    padding: 3px;
}
.input-group-text {
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 4px 16px;
    border-radius: 30px !important;
    box-shadow: none;
    margin: 4px 0;
    margin-right: 4px;
    cursor: pointer;
}
.input-group-text:hover{
    box-shadow:0 0 4px 6px rgba(255, 253, 253, 0.94);
}

    /* ----- Feature Section ------- */
.features{
    padding: 100px 0;

}
.features .container{
    display: flex;
    flex-wrap: wrap;
}
.container .row{
    display: flex;
    flex-direction: row;
}
.features h1{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lobster', cursive;
}
.feature-img img{
    width: 100%;
    height: 330px;
    border-radius: 10px;

}
.price{
    width: 50px;
    height: 50px;
    background: #eb683f;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(248, 175, 56, 0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}
.feature-img{
   position: relative;
}
.rating{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position:absolute;
}
.features .fa {
    font-size: 15px;
    color: #eb683f;
}
.feature-details{
    padding: 20px;
}
.feature-details h4{
    text-align: center;
    font-weight: 600;
    font-family: 'Pathway Gothic One', sans-serif;
    margin-top: 20px;
}
.feature-details .fa{
    margin-right: 5px;
    margin-left: 2px;
}
.feature-box{
    box-shadow: 0 0 11px 6px rgba(37, 73, 214,0.18);
    margin-bottom: 30px;
    border-radius: 20px;
}
.feature-box .location-info{
   text-align: center;
   padding-bottom: 15px;
}
.feature-box .location-info span{
    margin-right: 8px;
    text-decoration: none;
    list-style: none;
}
.location-info span a{
    text-decoration: none;
    color: black;
}
.feature-box .location-info span i{
    padding-right: 4px;
  
}


 /* ------------ Travelling gallery -------- */
.gallery{
    padding: 100px 0;
    background: #efefef;

}

 .gallery h1{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lobster', cursive;
 }
 .gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
 }
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-shadow: -2px -2px 2px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}

/* --------  Banner section----- */
.banner{
  height: 100vh;
  width: 100%;
  background-image: url(/Images/Travel_person.jpg);
  background-position: center;
  background-size:cover ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 17%;
}
.banner-highlights{
    padding: 70px 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: white;
    display: flex;
}
.booking-btn{
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid rgb(249, 247, 248);
    border-radius: 45px;
    background: transparent;
    color: rgb(248, 241, 248);
    margin-top: 20px;
    transition: 0.8s;
}
.booking-btn:hover{
    background: #fcfcfc;
    transition: all 1s linear;
    color: #000;
    font-weight: 600;
}

 /* ---- user review ---*/
 .users-feedback{
    padding: 100px 0;
 }
 .users-feedback h1{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lobster', cursive;
 }
 .user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
    border-radius: 14px;
 }
 
 .user-review p{
       padding: 2px 10px 10px 10px;
       font-family: 'Quantico', sans-serif;
 }
 .user-review small{
    font-weight: 500;
    font-size: 17px;
    color:#6495ed;
 }
 .users-feedback img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    margin: -40px 0 20px 40%;
    box-shadow: 0 0 10px 0 rgba(26, 209, 233, 0.625);
 }
  .user-review h6
 {
    
    font-size: 50px;
    font-weight: 800;
    color:#6495ed;
    font-family: sans-serif;
    padding-top: 2px;
    padding-bottom: 1px;
 }

 /*---- footer section*/
 .footer{
    padding: 100px 20px 15px;
    background-image: linear-gradient(#44e4ecee,#2c4fe7);
    color: #fff;
 }
 .footer .footer-logo{
    display: block;
 }
 .footer .footer-logo img{
    float: left;
    height: 170px;
    width: 170px;
 }
 .footer h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
 }
 .footer h3 span{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: left;
 }
 .footer p{
    font-size: 18px;
    text-align:center;
    padding-right: 40px;
 }
 .footer p a{
    color: #fff;
    text-decoration: none;
 }
 .footer .row .fa{
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
 }
 .footer hr{
    margin-top: 10px;
    color:hsl(0, 14%, 99%);
    line-height: 0.5rem;
 }
 .footer h5{
    text-align: center;
    margin-top: 40px;
    
 }

 /* ---------- Media Queries -------- */
@media (max-width:480px){
    .footer .footer-logo img{
        margin-left: 80px;
        padding: 10px;
    }
}